<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://172.21.102.82:4200/api/v1/</p>
    <p>Find by station and by date: http://172.21.102.82:4200/api/v1/10/1988-10-25</p>
    <p>Find by station: http://172.21.102.82:4200/api/v1/10</p>
    <p>Find by station and by year: http://172.21.102.82:4200/api/v1/year/10/1988</p>
    <p>{{data|safe}}</p>
</body>
</html>